body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Azul claro de fundo */
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e0ffff; /* Azul claro de fundo da caixa */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #000080; /* Azul escuro para títulos */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

#med-form label {
    display: block;
    margin-bottom: 5px;
    color: #000080; /* Azul escuro para labels */
}

#med-form input, #med-form select, #med-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
}

#med-form textarea {
    resize: vertical; /* Permite redimensionar a altura da textarea */
}

#med-form button {
    padding: 10px 20px;
    background-color: #0066cc; /* Azul mais escuro para botões */
    color: white;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento */
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: #e0ffff; /* Azul claro de fundo do popup */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #000080; /* Azul escuro para o botão de fechar */
}

.close:hover {
    color: red;
}

#transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#transaction-table th, #transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#transaction-table th {
    background-color: #f0f0f0;
}
